:root {

    /* Colors */
    --primary-color : #118330;
    --warn-color    : #efba0f;
    --alert-color   : #d6342c;
    --dark-color    : #32363b;
    --light-color   : #ffffff;

    /* Font Family */
    --font-family: 'Lato', sans-serif;

    /* Font Sizes */
    --font-xl: 32px;
    --font-l: 24px;
    --font-m: 16px;
    --font-s: 14px;
    --font-xs: 12px;

    /* Layout */
    --gutter: 16px;
    --max-witdh: 1200px;

}

/* Tags Styles */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 174px 0 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 var(--gutter) 0;
    text-transform: uppercase;
}

img, video {
    display: block;
    max-width: 100%;
}


/* Classes Styles */
.button {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
}

.container {
    margin: 0 var(--gutter);
    max-width: var(--max-witdh);
    padding: calc(var(--gutter) * 2) 0;
}

.price {
    font-weight: 700;
}

.price del::before {
    content: '$';
    padding-right: 0.25rem;
}

.title {
    font-size: var(--font-l);
}

.subtitle {
    font-size: var(--font-l);
}


@media screen and (min-width: 640px) {
    body {
        margin-top: 104px;
    }

    .button {
        max-width: 300px;
    }

    .container {
        margin: 0 calc(var(--gutter) * 4);
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: calc(var(--font-m) * 1.125);
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        padding-top: calc(var(--gutter) * 6);
        padding-bottom: calc(var(--gutter) * 6);
    }
}