/* Header Styles */
.promo {
    background-color: var(--alert-color);
    color: var(--light-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 1;
    width: 100%;
}

.promo__countdown {
    font-size: calc(var(--font-xl) * 1.75);
    font-weight: 700;
    letter-spacing: 0.25rem;
    padding-bottom: var(--gutter);
    line-height: 1;
}

.promo__cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__text,
.promo__button {
    padding: 0 1rem;
}

.promo__text {
    font-size: var(--font-s);
    font-weight: 700;
    line-height: 1.25;
}

.promo__text strong {
    color: var(--warn-color);
}

.promo__button {
    padding: calc( var(--gutter) / 2 ) calc( var(--gutter) * 1 );
    background-color: var(--dark-color);
    border-radius: 50px;
    color: var(--light-color);
    font-size: var(--font-s);
}

@media screen and (min-width: 640px) {

    .promo .container {
        display: flex;
        padding: var(--gutter);
    }

    .promo__countdown {
        margin: 8px 0;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .promo .container {
        justify-content: space-between;
        max-width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .promo .container {
        max-width: 900px;
    }

    .promo__button {
        padding: calc( var(--gutter) / 1.5 ) calc( var(--gutter) * 3 );
    }
}

/* Main Section Styles */

.product__main {
    background-color: var(--dark-color);
}

.product__name {
    text-transform: uppercase;
}

.product__goals {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.product__goals .subtitle {
    color: var(--warn-color);
}

.product__details {
    background-color: var(--dark-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--font-s);
    margin: var(--gutter) 0;
    padding: var(--gutter);
    color: var(--light-color);
}

.product__details[open] .product__summary::before {
    content: '-';
}

.product__details:last-child {
    margin-bottom: 0;
}

.product__summary {
    list-style: none;
    font-weight: 700;
}

.product__summary::before {
    line-height: 0;
    content: '+';
    color: var(--primary-color);
    font-size: var(--font-l);
    padding-right: 0.5rem;
}

.product__includes {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.product__includes .subtitle {
    color: var(--light-color);
}

.product__includes .subtitle span {
    color: var(--warn-color);
}

.product__properties div {
    background-color: #222;
    padding: var(--gutter);
    margin-top: var(--gutter);
    border-radius: 6px;
}

.product__properties p {
    margin: 0;
}

.product__properties p:before {
    margin-right: 8px;
    vertical-align: middle;
    color: var(--warn-color);
    font-weight: 400;
    font-size: var(--font-m);
}

@media screen and (min-width: 768px) {
    .product__description .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .product__description .product__image {
        max-width: 40%;
        margin-right: var(--gutter);
    }

    .product__includes .product__properties {
        display: flex;
        justify-content: space-around;
    }

    .product__includes .product__properties div {
        width: 47.5%;
    }
}

@media screen and (min-width: 1200px) {
    .product__description .container {
        display: flex;
        align-items: center;
    }

    .product__description .title {
        font-size: var(--font-xl);
    }

    .product__description .product__info {
        width: 60%;
    }

    .product__description .product__image {
        width: 35%;
    }

    .product__goals .subtitle,
    .product__content .subtitle,
    .product__includes .subtitle,
    .trainer .subtitle{
        font-size: var(--font-xl);
    }

    .product__includes .subtitle {
        text-align: center;
    }

    .product__details {
        font-size: var(--font-m);
        margin: calc(var(--gutter) * 2) 0;
        padding: calc(var(--gutter) * 2) var(--gutter);
    }
}


/* CTA Styles */
.cta {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
}

.cta .subtitle {
    font-size: var(--font-xl);
    color: var(--light-color);
}

.cta .price {
    color: var(--warn-color);
    font-size: var(--font-xl);
}

.cta del {
    font-size: var(--font-l);
    color: var(--alert-color);
    margin-right: var(--gutter);
}

.cta__button {
    background-color: var(--alert-color);
    color: var(--light-color);
    width: 100%;
    display: block;
    padding: var(--gutter) 0;
}

.cta__payments {
    width: 250px;
    margin-top: calc(var(--gutter) / 2);
    margin-left: auto;
    margin-right: auto;
}

.cta__payments img {
    border-radius: 10px;
}

.cta p {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .cta .cta__button {
        margin-left: auto;
        margin-right: auto;
    }
}




/* Trainer Styles */
.trainer p:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .trainer .product__image {
        float: left;
        max-width: 35%;
        margin-right: var(--gutter);
    }

    .trainer li {
        list-style: none;
    }

    .trainer li:before {
        content: '\2022';
        padding-right: calc(var(--gutter) / 2);
    }
}


/* Certification Styles */
.certification {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.certification .title {
    color: var(--light-color);
    font-size: var(--font-xl);
    text-align: center;
}

.certification span {
    color: var(--warn-color);
}

.certificate {
    margin-top: calc(var(--gutter) * 2);
}

@media screen and (min-width: 768px) {
    .certification section {
        text-align: center;
    }

    .certification .cta__button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .certificate {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Warranty Styles */
.warranty {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.warranty__seal {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--gutter) * 2);
}

.warranty .title {
    color: var(--light-color);
    font-size: var(--font-xl);
}

.warranty span {
    color: var(--warn-color);
}

.warranty__seal {
    margin-top: calc(var(--gutter) * 2);
}

@media screen and (min-width: 768px) {
    .warranty .container {
        display: flex;
    }

    .warranty__seal {
        max-width: 20%;
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .warranty__seal img {
        display: block;
    }

    .warranty section {
        max-width: 60%;
    }
}